#APP:LASTGOOD
#Lastgood is time that app was last known good measured in seconds since the epoch
#App is app name
#This is a sample file... app controls this in production.
#BEGINDATA
#Don't delete this trailing line